<a href="https://colab.research.google.com/github/advait1987/tf_gendervoiceclassify/blob/master/Gender_Voice_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
!pip install -q tensorflow==2.0.0-alpha0
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

     |████████████████████████████████| 79.9MB 312kB/s
     |████████████████████████████████| 3.0MB 38.5MB/s
     |████████████████████████████████| 61kB 20.6MB/s
     |████████████████████████████████| 419kB 46.6MB/s

In [2]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../tmp"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

In [0]:
url = 'https://github.com/advait1987/tf_gendervoiceclassify/raw/master/voice.csv'
dataframe = pd.read_csv(url)

## **Explore**

In [4]:
dataframe.head(2)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000   male
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632   male

[2 rows x 21 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
gender_encoder = LabelEncoder()
dataframe['label'] = gender_encoder.fit_transform(dataframe['label'])
dataframe.head(2)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000      1
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632      1

[2 rows x 21 columns]

In [6]:
print("Total number of samples: {}".format(dataframe.shape[0]))
print("Number of male: {}".format(dataframe[dataframe.label == 1].shape[0]))
print("Number of female: {}".format(dataframe[dataframe.label == 0].shape[0]))

Total number of samples: 3168
Number of male: 1584
Number of female: 1584

Split Data

In [7]:
train, test = train_test_split(dataframe, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')
print (train.shape)
train.head()

2027 train examples
507 validation examples
634 test examples
(2027, 21)

      meanfreq        sd    median  ...   dfrange   modindx  label
2896  0.212141  0.043329  0.212018  ...  7.593750  0.145259      0
1556  0.162938  0.063401  0.155755  ...  0.747070  0.262092      1
2967  0.166562  0.057376  0.159473  ...  1.357422  0.360911      0
1447  0.178306  0.062549  0.178832  ...  5.367188  0.117647      1
1531  0.135390  0.079694  0.116456  ...  0.117188  0.395960      1

[5 rows x 21 columns]

**Create an input pipeline using tf.data**
This will enable us to use feature columns as a bridge to map from the columns in the Pandas dataframe to features 
used to train the model. If we were working with a very large CSV file (so large that it does not fit into memory), we would use tf.data to read it from disk directly. That is not covered in this tutorial.

In [0]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('label')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [9]:
# Test input pipeline
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of ages:', feature_batch['median'])
  print('A batch of targets:', label_batch )

Every feature: ['meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt', 'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun', 'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx']
A batch of ages: tf.Tensor([0.20564315 0.19573334 0.18781085 0.1948538  0.19025041], shape=(5,), dtype=float32)
A batch of targets: tf.Tensor([0 1 0 1 1], shape=(5,), dtype=int32)

**Choose which columns to use**

In [0]:
feature_columns = []

# numeric cols
for header in list(feature_batch.keys()):
  feature_columns.append(feature_column.numeric_column(header))

# bucketized cols
#age_buckets = feature_column.bucketized_column(age, boundaries=[18, 25, 30, 35, 40, 45, 50, 55, 60, 65])
#feature_columns.append(age_buckets)

# indicator cols
#thal = feature_column.categorical_column_with_vocabulary_list(
#      'thal', ['fixed', 'normal', 'reversible'])
#thal_one_hot = feature_column.indicator_column(thal)
#feature_columns.append(thal_one_hot)

# embedding cols
#thal_embedding = feature_column.embedding_column(thal, dimension=8)
#feature_columns.append(thal_embedding)

# crossed cols
#crossed_feature = feature_column.crossed_column([age_buckets, thal], hash_bucket_size=1000)
#crossed_feature = feature_column.indicator_column(crossed_feature)
#feature_columns.append(crossed_feature)

**Create feature layer**

In [0]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)
#Earlier, we used a small batch size to demonstrate how feature columns worked. We create a new input pipeline with a larger batch size.
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

**Create, compile, and train the model**

In [44]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('acc')>0.95):
      print (logs.get('acc'))
      print("\nReached 95% accuracy so cancelling training!")
      self.model.stop_training = True

callbacks = myCallback()   

model = tf.keras.Sequential([
  feature_layer,
  #tf.keras.layers.Conv1D(filters=5, kernel_size=5, input_shape=(None,20), activation='relu'),
  #tf.keras.layers.MaxPooling2D(2,2),
  #tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid')
])


model.compile(optimizer=tf.keras.optimizers.Adam(0.001),
              loss='binary_crossentropy',
              metrics=['acc'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=50,
          callbacks=[callbacks])

#model.summary()

Epoch 1/50
64/64 [==============================] - 2s 28ms/step - loss: 0.8309 - acc: 0.5279 - val_loss: 0.6566 - val_acc: 0.5365
Epoch 2/50
64/64 [==============================] - 2s 24ms/step - loss: 0.6872 - acc: 0.5589 - val_loss: 0.6309 - val_acc: 0.5858
Epoch 3/50
64/64 [==============================] - 2s 24ms/step - loss: 0.7269 - acc: 0.6242 - val_loss: 0.6256 - val_acc: 0.6568
Epoch 4/50
64/64 [==============================] - 2s 25ms/step - loss: 0.6261 - acc: 0.6355 - val_loss: 0.5669 - val_acc: 0.6982
Epoch 5/50
64/64 [==============================] - 2s 26ms/step - loss: 0.6791 - acc: 0.6941 - val_loss: 0.5888 - val_acc: 0.7140
Epoch 6/50
64/64 [==============================] - 2s 26ms/step - loss: 0.6111 - acc: 0.6784 - val_loss: 0.5266 - val_acc: 0.7377
Epoch 7/50
64/64 [==============================] - 2s 26ms/step - loss: 0.6137 - acc: 0.7135 - val_loss: 0.5205 - val_acc: 0.7337
Epoch 8/50
64/64 [==============================] - 2s 26ms/step - loss: 0.5483 - acc: 0.7154 - val_loss: 0.5287 - val_acc: 0.7278
Epoch 9/50
64/64 [==============================] - 2s 26ms/step - loss: 0.5127 - acc: 0.7646 - val_loss: 0.4617 - val_acc: 0.7850
Epoch 10/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4839 - acc: 0.7800 - val_loss: 0.4310 - val_acc: 0.8284
Epoch 11/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4727 - acc: 0.7991 - val_loss: 0.4326 - val_acc: 0.8185
Epoch 12/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4363 - acc: 0.8013 - val_loss: 0.3955 - val_acc: 0.8619
Epoch 13/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4215 - acc: 0.8214 - val_loss: 0.3999 - val_acc: 0.8284
Epoch 14/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4461 - acc: 0.8271 - val_loss: 0.3618 - val_acc: 0.8679
Epoch 15/50
64/64 [==============================] - 2s 24ms/step - loss: 0.3818 - acc: 0.8446 - val_loss: 0.3489 - val_acc: 0.8777
Epoch 16/50
64/64 [==============================] - 2s 24ms/step - loss: 0.3765 - acc: 0.8473 - val_loss: 0.3261 - val_acc: 0.8876
Epoch 17/50
64/64 [==============================] - 2s 24ms/step - loss: 0.3454 - acc: 0.8574 - val_loss: 0.3091 - val_acc: 0.8955
Epoch 18/50
64/64 [==============================] - 2s 24ms/step - loss: 0.3373 - acc: 0.8580 - val_loss: 0.3007 - val_acc: 0.9014
Epoch 19/50
64/64 [==============================] - 2s 24ms/step - loss: 0.3087 - acc: 0.8679 - val_loss: 0.2713 - val_acc: 0.9093
Epoch 20/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2921 - acc: 0.8894 - val_loss: 0.2602 - val_acc: 0.9191
Epoch 21/50
64/64 [==============================] - 2s 24ms/step - loss: 0.3216 - acc: 0.8918 - val_loss: 0.2488 - val_acc: 0.9152
Epoch 22/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2891 - acc: 0.9022 - val_loss: 0.2266 - val_acc: 0.9211
Epoch 23/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2434 - acc: 0.9153 - val_loss: 0.2145 - val_acc: 0.9310
Epoch 24/50
64/64 [==============================] - 1s 23ms/step - loss: 0.2291 - acc: 0.9250 - val_loss: 0.2006 - val_acc: 0.9389
Epoch 25/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2162 - acc: 0.9262 - val_loss: 0.1903 - val_acc: 0.9389
Epoch 26/50
64/64 [==============================] - 2s 23ms/step - loss: 0.2074 - acc: 0.9348 - val_loss: 0.2229 - val_acc: 0.9270
Epoch 27/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2454 - acc: 0.9158 - val_loss: 0.2087 - val_acc: 0.9349
Epoch 28/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2097 - acc: 0.9340 - val_loss: 0.1917 - val_acc: 0.9369
Epoch 29/50
64/64 [==============================] - 2s 24ms/step - loss: 0.2048 - acc: 0.9355 - val_loss: 0.1707 - val_acc: 0.9408
Epoch 30/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1940 - acc: 0.9328 - val_loss: 0.1648 - val_acc: 0.9448
Epoch 31/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1632 - acc: 0.9408 - val_loss: 0.1736 - val_acc: 0.9428
Epoch 32/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1880 - acc: 0.9362 - val_loss: 0.1636 - val_acc: 0.9389
Epoch 33/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1649 - acc: 0.9396 - val_loss: 0.1731 - val_acc: 0.9408
Epoch 34/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1622 - acc: 0.9388 - val_loss: 0.1643 - val_acc: 0.9467
Epoch 35/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1478 - acc: 0.9468 - val_loss: 0.2060 - val_acc: 0.9290
Epoch 36/50
64/64 [==============================] - 2s 24ms/step - loss: 0.1522 - acc: 0.9339 - val_loss: 0.1579 - val_acc: 0.9389
Epoch 37/50
61/64 [===========================>..] - ETA: 0s - loss: 0.1422 - acc: 0.94830.9531327

Reached 95% accuracy so cancelling training!
64/64 [==============================] - 2s 24ms/step - loss: 0.1392 - acc: 0.9485 - val_loss: 0.1489 - val_acc: 0.9448

**Accuracy**

In [45]:
loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)

20/20 [==============================] - 0s 12ms/step - loss: 0.1265 - acc: 0.9558
Accuracy 0.95583594

**Decision Tree for comparison**