<a href="https://colab.research.google.com/github/advait1987/tf_gendervoiceclassify/blob/master/Gender_Voice_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
!pip install -q tensorflow==2.0.0-alpha0
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

     |████████████████████████████████| 79.9MB 371kB/s
     |████████████████████████████████| 61kB 19.8MB/s
     |████████████████████████████████| 419kB 44.2MB/s
     |████████████████████████████████| 3.0MB 32.4MB/s

In [3]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../tmp"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

In [0]:
url = 'https://github.com/advait1987/tf_gendervoiceclassify/raw/master/voice.csv'
dataframe = pd.read_csv(url)

## **Explore**

In [5]:
dataframe.head(2)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000   male
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632   male

[2 rows x 21 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
gender_encoder = LabelEncoder()
dataframe['label'] = gender_encoder.fit_transform(dataframe['label'])
dataframe.head(2)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000      1
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632      1

[2 rows x 21 columns]

In [7]:
print("Total number of samples: {}".format(dataframe.shape[0]))
print("Number of male: {}".format(dataframe[dataframe.label == 1].shape[0]))
print("Number of female: {}".format(dataframe[dataframe.label == 0].shape[0]))

Total number of samples: 3168
Number of male: 1584
Number of female: 1584

Split Data

In [8]:
train, test = train_test_split(dataframe, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')
print (train.shape)
train.head()

2027 train examples
507 validation examples
634 test examples
(2027, 21)

      meanfreq        sd    median  ...    dfrange   modindx  label
347   0.158272  0.060818  0.147618  ...   3.886719  0.352793      1
560   0.143504  0.073334  0.150426  ...   2.328125  0.203020      1
3088  0.162336  0.055594  0.168105  ...   0.273438  0.101648      0
2728  0.202353  0.038893  0.196491  ...  10.875000  0.166083      0
125   0.167705  0.070774  0.179442  ...   0.140625  0.051282      1

[5 rows x 21 columns]

**Create an input pipeline using tf.data**
This will enable us to use feature columns as a bridge to map from the columns in the Pandas dataframe to features 
used to train the model. If we were working with a very large CSV file (so large that it does not fit into memory), we would use tf.data to read it from disk directly. That is not covered in this tutorial.

In [0]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('label')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [10]:
# Test input pipeline
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of ages:', feature_batch['median'])
  print('A batch of targets:', label_batch )

Every feature: ['meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt', 'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun', 'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx']
A batch of ages: tf.Tensor([0.19550505 0.23341021 0.17976383 0.17980392 0.20691299], shape=(5,), dtype=float64)
A batch of targets: tf.Tensor([0 0 1 0 0], shape=(5,), dtype=int32)

**Choose which columns to use**

In [0]:
feature_columns = []

# numeric cols
for header in list(feature_batch.keys()):
  feature_columns.append(feature_column.numeric_column(header))

# bucketized cols
#age_buckets = feature_column.bucketized_column(age, boundaries=[18, 25, 30, 35, 40, 45, 50, 55, 60, 65])
#feature_columns.append(age_buckets)

# indicator cols
#thal = feature_column.categorical_column_with_vocabulary_list(
#      'thal', ['fixed', 'normal', 'reversible'])
#thal_one_hot = feature_column.indicator_column(thal)
#feature_columns.append(thal_one_hot)

# embedding cols
#thal_embedding = feature_column.embedding_column(thal, dimension=8)
#feature_columns.append(thal_embedding)

# crossed cols
#crossed_feature = feature_column.crossed_column([age_buckets, thal], hash_bucket_size=1000)
#crossed_feature = feature_column.indicator_column(crossed_feature)
#feature_columns.append(crossed_feature)

**Create feature layer**

In [0]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)
#Earlier, we used a small batch size to demonstrate how feature columns worked. We create a new input pipeline with a larger batch size.
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

**Create, compile, and train the model**

In [26]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('acc')>0.95):
      print (logs.get('acc'))
      print("\nReached 95% accuracy so cancelling training!")
      self.model.stop_training = True

callbacks = myCallback()   

model = tf.keras.Sequential([
  feature_layer,
  #tf.keras.layers.Conv1D(5,input_shape=(20,1), kernel_size=12, padding='same', activation='relu'),
  #tf.keras.layers.MaxPooling2D(2, 2),
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['acc'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=50,
          verbose = 1,
          callbacks=[callbacks])

Epoch 1/50
64/64 [==============================] - 2s 28ms/step - loss: 0.7711 - acc: 0.5065 - val_loss: 0.9157 - val_acc: 0.5582
Epoch 2/50
64/64 [==============================] - 2s 26ms/step - loss: 0.7986 - acc: 0.6094 - val_loss: 0.7125 - val_acc: 0.6923
Epoch 3/50
64/64 [==============================] - 2s 24ms/step - loss: 0.7459 - acc: 0.6465 - val_loss: 0.7498 - val_acc: 0.6963
Epoch 4/50
64/64 [==============================] - 2s 25ms/step - loss: 0.6867 - acc: 0.6801 - val_loss: 0.9071 - val_acc: 0.6923
Epoch 5/50
64/64 [==============================] - 2s 24ms/step - loss: 0.8644 - acc: 0.6966 - val_loss: 0.7875 - val_acc: 0.7278
Epoch 6/50
64/64 [==============================] - 2s 24ms/step - loss: 0.6227 - acc: 0.7186 - val_loss: 0.6676 - val_acc: 0.7850
Epoch 7/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5966 - acc: 0.7503 - val_loss: 0.7494 - val_acc: 0.7613
Epoch 8/50
64/64 [==============================] - 2s 24ms/step - loss: 0.6388 - acc: 0.7513 - val_loss: 0.6312 - val_acc: 0.7515
Epoch 9/50
64/64 [==============================] - 2s 25ms/step - loss: 0.6062 - acc: 0.7420 - val_loss: 0.6198 - val_acc: 0.7495
Epoch 10/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5702 - acc: 0.7463 - val_loss: 0.7225 - val_acc: 0.7968
Epoch 11/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5838 - acc: 0.7685 - val_loss: 0.5750 - val_acc: 0.8047
Epoch 12/50
64/64 [==============================] - 2s 24ms/step - loss: 0.6931 - acc: 0.7493 - val_loss: 0.6698 - val_acc: 0.7870
Epoch 13/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5868 - acc: 0.7484 - val_loss: 0.6035 - val_acc: 0.8008
Epoch 14/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5350 - acc: 0.7711 - val_loss: 0.5523 - val_acc: 0.8047
Epoch 15/50
64/64 [==============================] - 2s 25ms/step - loss: 0.6713 - acc: 0.7581 - val_loss: 0.6501 - val_acc: 0.8225
Epoch 16/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5218 - acc: 0.7820 - val_loss: 0.5146 - val_acc: 0.8402
Epoch 17/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4960 - acc: 0.8153 - val_loss: 0.5153 - val_acc: 0.8205
Epoch 18/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4862 - acc: 0.8039 - val_loss: 0.5080 - val_acc: 0.8323
Epoch 19/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4698 - acc: 0.8165 - val_loss: 0.4886 - val_acc: 0.8481
Epoch 20/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4593 - acc: 0.8430 - val_loss: 0.4850 - val_acc: 0.8521
Epoch 21/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4557 - acc: 0.8410 - val_loss: 0.4732 - val_acc: 0.8639
Epoch 22/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4417 - acc: 0.8455 - val_loss: 0.4621 - val_acc: 0.8718
Epoch 23/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4548 - acc: 0.8562 - val_loss: 0.4666 - val_acc: 0.8679
Epoch 24/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5253 - acc: 0.8570 - val_loss: 0.6558 - val_acc: 0.8442
Epoch 25/50
64/64 [==============================] - 2s 24ms/step - loss: 0.5282 - acc: 0.8319 - val_loss: 0.5013 - val_acc: 0.8462
Epoch 26/50
64/64 [==============================] - 2s 25ms/step - loss: 0.5413 - acc: 0.8347 - val_loss: 0.4246 - val_acc: 0.8738
Epoch 27/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4729 - acc: 0.8777 - val_loss: 0.6276 - val_acc: 0.8600
Epoch 28/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4938 - acc: 0.8504 - val_loss: 0.4090 - val_acc: 0.8856
Epoch 29/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4314 - acc: 0.8950 - val_loss: 0.5908 - val_acc: 0.8718
Epoch 30/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4826 - acc: 0.8609 - val_loss: 0.4018 - val_acc: 0.8876
Epoch 31/50
64/64 [==============================] - 2s 25ms/step - loss: 0.3888 - acc: 0.8992 - val_loss: 0.3917 - val_acc: 0.9073
Epoch 32/50
64/64 [==============================] - 2s 25ms/step - loss: 0.3587 - acc: 0.8970 - val_loss: 0.3814 - val_acc: 0.9034
Epoch 33/50
64/64 [==============================] - 2s 25ms/step - loss: 0.3599 - acc: 0.9012 - val_loss: 0.3740 - val_acc: 0.9152
Epoch 34/50
64/64 [==============================] - 2s 26ms/step - loss: 0.4060 - acc: 0.9228 - val_loss: 0.5882 - val_acc: 0.8718
Epoch 35/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4722 - acc: 0.8660 - val_loss: 0.3608 - val_acc: 0.9093
Epoch 36/50
64/64 [==============================] - 2s 25ms/step - loss: 0.4558 - acc: 0.9102 - val_loss: 0.3739 - val_acc: 0.9112
Epoch 37/50
64/64 [==============================] - 2s 28ms/step - loss: 0.4826 - acc: 0.9067 - val_loss: 0.4673 - val_acc: 0.8955
Epoch 38/50
64/64 [==============================] - 2s 28ms/step - loss: 0.6240 - acc: 0.8675 - val_loss: 0.3439 - val_acc: 0.9191
Epoch 39/50
64/64 [==============================] - 2s 28ms/step - loss: 0.3200 - acc: 0.9249 - val_loss: 0.5661 - val_acc: 0.8974
Epoch 40/50
64/64 [==============================] - 2s 28ms/step - loss: 0.6550 - acc: 0.8922 - val_loss: 0.6885 - val_acc: 0.8580
Epoch 41/50
64/64 [==============================] - 2s 28ms/step - loss: 0.3810 - acc: 0.8915 - val_loss: 0.3256 - val_acc: 0.9329
Epoch 42/50
64/64 [==============================] - 2s 27ms/step - loss: 0.2953 - acc: 0.9362 - val_loss: 0.3107 - val_acc: 0.9369
Epoch 43/50
64/64 [==============================] - 2s 24ms/step - loss: 0.4542 - acc: 0.9241 - val_loss: 0.3168 - val_acc: 0.9369
Epoch 44/50
64/64 [==============================] - 2s 25ms/step - loss: 0.2683 - acc: 0.9403 - val_loss: 0.3069 - val_acc: 0.9369
Epoch 45/50
64/64 [==============================] - 2s 25ms/step - loss: 0.3473 - acc: 0.9464 - val_loss: 0.5328 - val_acc: 0.9112
Epoch 46/50
64/64 [==============================] - 2s 26ms/step - loss: 0.4077 - acc: 0.8939 - val_loss: 0.3086 - val_acc: 0.9389
Epoch 47/50
64/64 [==============================] - 2s 26ms/step - loss: 0.4778 - acc: 0.9197 - val_loss: 0.3171 - val_acc: 0.9389
Epoch 48/50
64/64 [==============================] - 2s 25ms/step - loss: 0.3422 - acc: 0.9313 - val_loss: 0.3919 - val_acc: 0.9152
Epoch 49/50
64/64 [==============================] - 2s 25ms/step - loss: 0.2794 - acc: 0.9351 - val_loss: 0.3060 - val_acc: 0.9369
Epoch 50/50
64/64 [==============================] - 2s 25ms/step - loss: 0.3767 - acc: 0.9300 - val_loss: 0.2922 - val_acc: 0.9467

**Accuracy**

In [27]:
loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)

20/20 [==============================] - 0s 14ms/step - loss: 0.2167 - acc: 0.9448
Accuracy 0.94479495