<a href="https://colab.research.google.com/github/advait1987/tf_gendervoiceclassify/blob/master/Gender_Voice_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
!pip install -q tensorflow==2.0.0-alpha0
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [15]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../tmp"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

In [0]:
url = 'https://github.com/advait1987/tf_gendervoiceclassify/raw/master/voice.csv'
dataframe = pd.read_csv(url)

## **Explore**

In [17]:
dataframe.head(2)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000   male
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632   male

[2 rows x 21 columns]

In [18]:
from sklearn.preprocessing import LabelEncoder
gender_encoder = LabelEncoder()
dataframe['label'] = gender_encoder.fit_transform(dataframe['label'])
dataframe.head(2)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000      1
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632      1

[2 rows x 21 columns]

In [19]:
print("Total number of samples: {}".format(dataframe.shape[0]))
print("Number of male: {}".format(dataframe[dataframe.label == 1].shape[0]))
print("Number of female: {}".format(dataframe[dataframe.label == 0].shape[0]))

Total number of samples: 3168
Number of male: 1584
Number of female: 1584

Split Data

In [20]:
train, test = train_test_split(dataframe, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')
print (train.shape)
train.head()

2027 train examples
507 validation examples
634 test examples
(2027, 21)

      meanfreq        sd    median  ...   dfrange   modindx  label
2261  0.139254  0.083980  0.151920  ...  3.914062  0.142429      0
1713  0.235349  0.061951  0.255031  ...  5.484375  0.133191      0
1943  0.199387  0.035440  0.196046  ...  5.968750  0.189915      0
1105  0.189809  0.057016  0.202868  ...  5.250000  0.199836      1
1654  0.144419  0.086971  0.156016  ...  3.890625  0.151765      0

[5 rows x 21 columns]

**Create an input pipeline using tf.data**
This will enable us to use feature columns as a bridge to map from the columns in the Pandas dataframe to features 
used to train the model. If we were working with a very large CSV file (so large that it does not fit into memory), we would use tf.data to read it from disk directly. That is not covered in this tutorial.

In [0]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('label')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [22]:
# Test input pipeline
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of ages:', feature_batch['median'])
  print('A batch of targets:', label_batch )

Every feature: ['meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt', 'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun', 'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx']
A batch of ages: tf.Tensor([0.13332539 0.23102167 0.18489655 0.18410735 0.21693842], shape=(5,), dtype=float64)
A batch of targets: tf.Tensor([1 0 1 0 0], shape=(5,), dtype=int32)

**Choose which columns to use**

In [0]:
feature_columns = []

# numeric cols
for header in list(feature_batch.keys()):
  feature_columns.append(feature_column.numeric_column(header))

# bucketized cols
#age_buckets = feature_column.bucketized_column(age, boundaries=[18, 25, 30, 35, 40, 45, 50, 55, 60, 65])
#feature_columns.append(age_buckets)

# indicator cols
#thal = feature_column.categorical_column_with_vocabulary_list(
#      'thal', ['fixed', 'normal', 'reversible'])
#thal_one_hot = feature_column.indicator_column(thal)
#feature_columns.append(thal_one_hot)

# embedding cols
#thal_embedding = feature_column.embedding_column(thal, dimension=8)
#feature_columns.append(thal_embedding)

# crossed cols
#crossed_feature = feature_column.crossed_column([age_buckets, thal], hash_bucket_size=1000)
#crossed_feature = feature_column.indicator_column(crossed_feature)
#feature_columns.append(crossed_feature)

**Create feature layer**

In [0]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)
#Earlier, we used a small batch size to demonstrate how feature columns worked. We create a new input pipeline with a larger batch size.
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

**Create, compile, and train the model**

In [27]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('acc')>0.95):
      print (logs.get('acc'))
      print("\nReached 95% accuracy so cancelling training!")
      self.model.stop_training = True

callbacks = myCallback()   

model = tf.keras.Sequential([
  feature_layer,
  #tf.keras.layers.Conv1D(5,input_shape=(20,1), kernel_size=12, padding='same', activation='relu'),
  #tf.keras.layers.MaxPooling2D(2, 2),
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid')
])



model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['acc'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=50,
          verbose = 1,
          callbacks=[callbacks])

#model.summary()

Epoch 1/50
64/64 [==============================] - 2s 25ms/step - loss: 0.7824 - acc: 0.5451 - val_loss: 0.7050 - val_acc: 0.4951
Epoch 2/50
64/64 [==============================] - 1s 21ms/step - loss: 0.7765 - acc: 0.6273 - val_loss: 0.6580 - val_acc: 0.6568
Epoch 3/50
64/64 [==============================] - 1s 21ms/step - loss: 0.6899 - acc: 0.6515 - val_loss: 0.7041 - val_acc: 0.6331
Epoch 4/50
64/64 [==============================] - 1s 21ms/step - loss: 0.6426 - acc: 0.6559 - val_loss: 0.6462 - val_acc: 0.6844
Epoch 5/50
64/64 [==============================] - 1s 21ms/step - loss: 0.6141 - acc: 0.7045 - val_loss: 0.6091 - val_acc: 0.7160
Epoch 6/50
64/64 [==============================] - 1s 21ms/step - loss: 0.6210 - acc: 0.7347 - val_loss: 0.5655 - val_acc: 0.7535
Epoch 7/50
64/64 [==============================] - 1s 21ms/step - loss: 0.6366 - acc: 0.7554 - val_loss: 1.1801 - val_acc: 0.6864
Epoch 8/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8820 - acc: 0.7155 - val_loss: 0.6405 - val_acc: 0.7495
Epoch 9/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5832 - acc: 0.7757 - val_loss: 0.6462 - val_acc: 0.7673
Epoch 10/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5772 - acc: 0.7959 - val_loss: 0.5007 - val_acc: 0.7850
Epoch 11/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5843 - acc: 0.7921 - val_loss: 1.2083 - val_acc: 0.7120
Epoch 12/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8804 - acc: 0.7446 - val_loss: 0.5763 - val_acc: 0.7949
Epoch 13/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5438 - acc: 0.7885 - val_loss: 0.4450 - val_acc: 0.8166
Epoch 14/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5589 - acc: 0.8348 - val_loss: 1.1960 - val_acc: 0.7120
Epoch 15/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8398 - acc: 0.7605 - val_loss: 0.7784 - val_acc: 0.7732
Epoch 16/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5637 - acc: 0.7987 - val_loss: 0.4472 - val_acc: 0.8679
Epoch 17/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5432 - acc: 0.8312 - val_loss: 0.5524 - val_acc: 0.8304
Epoch 18/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4957 - acc: 0.8589 - val_loss: 0.9813 - val_acc: 0.7653
Epoch 19/50
64/64 [==============================] - 1s 22ms/step - loss: 0.7420 - acc: 0.8046 - val_loss: 0.4131 - val_acc: 0.8580
Epoch 20/50
64/64 [==============================] - 1s 22ms/step - loss: 0.5558 - acc: 0.8418 - val_loss: 1.0280 - val_acc: 0.7554
Epoch 21/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8384 - acc: 0.7936 - val_loss: 0.7063 - val_acc: 0.7929
Epoch 22/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5448 - acc: 0.8237 - val_loss: 0.3720 - val_acc: 0.8797
Epoch 23/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4864 - acc: 0.8606 - val_loss: 0.4251 - val_acc: 0.8560
Epoch 24/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4730 - acc: 0.8595 - val_loss: 1.0161 - val_acc: 0.7692
Epoch 25/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8743 - acc: 0.7945 - val_loss: 0.6030 - val_acc: 0.7949
Epoch 26/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4810 - acc: 0.8313 - val_loss: 0.3692 - val_acc: 0.8442
Epoch 27/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4590 - acc: 0.8637 - val_loss: 1.0330 - val_acc: 0.7653
Epoch 28/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8202 - acc: 0.8077 - val_loss: 0.5226 - val_acc: 0.8126
Epoch 29/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4804 - acc: 0.8636 - val_loss: 1.0029 - val_acc: 0.7673
Epoch 30/50
64/64 [==============================] - 1s 21ms/step - loss: 0.8578 - acc: 0.8059 - val_loss: 0.6949 - val_acc: 0.8225
Epoch 31/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4905 - acc: 0.8348 - val_loss: 0.3466 - val_acc: 0.9034
Epoch 32/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4578 - acc: 0.8889 - val_loss: 1.0044 - val_acc: 0.7692
Epoch 33/50
64/64 [==============================] - 1s 22ms/step - loss: 0.8513 - acc: 0.8133 - val_loss: 0.7361 - val_acc: 0.8323
Epoch 34/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4639 - acc: 0.8495 - val_loss: 0.3496 - val_acc: 0.8915
Epoch 35/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4443 - acc: 0.8789 - val_loss: 0.3341 - val_acc: 0.8757
Epoch 36/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4034 - acc: 0.8896 - val_loss: 0.3067 - val_acc: 0.9034
Epoch 37/50
64/64 [==============================] - 1s 21ms/step - loss: 0.3865 - acc: 0.8977 - val_loss: 0.3011 - val_acc: 0.9093
Epoch 38/50
64/64 [==============================] - 1s 21ms/step - loss: 0.3671 - acc: 0.9069 - val_loss: 0.3503 - val_acc: 0.9073
Epoch 39/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4126 - acc: 0.9083 - val_loss: 0.9221 - val_acc: 0.8166
Epoch 40/50
64/64 [==============================] - 1s 21ms/step - loss: 0.7271 - acc: 0.8331 - val_loss: 0.3600 - val_acc: 0.8915
Epoch 41/50
64/64 [==============================] - 1s 21ms/step - loss: 0.3745 - acc: 0.8939 - val_loss: 0.7195 - val_acc: 0.8718
Epoch 42/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5289 - acc: 0.8793 - val_loss: 0.2637 - val_acc: 0.8935
Epoch 43/50
64/64 [==============================] - 1s 21ms/step - loss: 0.3480 - acc: 0.9151 - val_loss: 0.7196 - val_acc: 0.8757
Epoch 44/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4433 - acc: 0.8925 - val_loss: 0.2489 - val_acc: 0.9191
Epoch 45/50
64/64 [==============================] - 1s 21ms/step - loss: 0.3446 - acc: 0.9286 - val_loss: 0.8722 - val_acc: 0.8462
Epoch 46/50
64/64 [==============================] - 1s 21ms/step - loss: 0.7377 - acc: 0.8547 - val_loss: 0.4034 - val_acc: 0.8540
Epoch 47/50
64/64 [==============================] - 1s 21ms/step - loss: 0.4264 - acc: 0.8986 - val_loss: 0.9316 - val_acc: 0.8304
Epoch 48/50
64/64 [==============================] - 1s 22ms/step - loss: 0.8349 - acc: 0.8398 - val_loss: 0.7426 - val_acc: 0.8777
Epoch 49/50
64/64 [==============================] - 1s 21ms/step - loss: 0.5685 - acc: 0.8735 - val_loss: 0.4563 - val_acc: 0.9014
Epoch 50/50
64/64 [==============================] - 1s 21ms/step - loss: 0.3667 - acc: 0.8981 - val_loss: 0.8946 - val_acc: 0.8402
Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_features_1 (DenseFeatu multiple                  0
_________________________________________________________________
flatten_4 (Flatten)          multiple                  0
_________________________________________________________________
dense_12 (Dense)             multiple                  2688
_________________________________________________________________
dense_13 (Dense)             multiple                  16512
_________________________________________________________________
dense_14 (Dense)             multiple                  129
=================================================================
Total params: 19,329
Trainable params: 19,329
Non-trainable params: 0
_________________________________________________________________

**Accuracy**

In [0]:
loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)